{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/text.css' %}">
</head>
<body>

  <div class="header">
    <div class="title">Depression Analysis Through Deep Learning</div>
    <img class="titleimage" src="{% static '/images/imagetitle2.png' %}" alt="title image">
  </div>


  <div class="registerform">
  <form method="post" action="{%  url 'signup' %}">
  {% csrf_token %}
    Email Id:<input type="email" name="emailid1" required><br><br><br>
    Password:<input type="password" name="password1" required><br><br><br>
    Confirm Password:<input type="password" name="cpassword1" required><br><br>
    <button type="submit" name="submitbtn" >Register</button><br>
  
    <br>
    <br>
    <h5>
    {{error}}
    </h5>
<a href="{% url 'userlogin' %}">Already registered with us ?</a>


  </form>
</div>
</body>
</html>
